body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("fruit-salads-in-plate-1640774.jpg");
    font-size: .75em;
}

.container {
    background-color: rgba(255, 255, 255, 0.92);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    padding: 10px;

}

.day-card {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    padding: 2px;
    margin: 2px;
    border-style: solid; 
    border-width: 1px;
}


.meal-type-calendar, .meal-type-calendar-no-hover {
    /* font-size: .75em; */
    padding: 2px;
}

.meal-type-calendar:hover{
    color: rgba(12, 135, 114, 0.83);
}

#meal-plan-week {
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 60%;
    height: 30%;
    padding:20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    /* font-size: .75em; */
    /* padding: 5px;
    margin: 5px; */
}

.recipes-container {
    display: none;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
}

div#new-recipe-container, #all-recipes-container {
    margin: 10px;
    padding: 10px;
    /* border-style: solid;
    border-color: gray;
    border-width: 1px; */
    background-color: rgba(12, 135, 114, 0.37);
    text-align: top;
}

input[type=text] {
    width: 50%;
    margin: 5px;
    padding: 5px;
}

/* table {
    display: grid;
} */

.large-button {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(12, 135, 114, 0.83);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

h3, h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin: 5px;
}
