.day-card {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    border-style: solid; 
    border-width: 1px;
    width: 100px;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 60%;
    height: 30%;
    padding:20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}